.about__title{
    font-family: potta one, cursive;
    color: black;
    font-size: 35px;
    text-shadow: 0 4px 4px rgb(245, 178, 8);
}
@media screen and (min-width: 0px){
    .about__title {
       font-size: 2rem;
    }
}
@media screen and (min-width: 786px){
    .about__title {
       font-size: 3.1875rem;
    }
}