.person__image{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;

}

.person__image-anna{
    background-image: url('../../img/people/girl1.jpg');
}
.person__image-gunnu{
    background-image: url('../../img/people/chef.jpg');
}
.person__image-julia{
    background-image: url('../../img/people/girl\ 3.jpg');
}
@media screen and (min-width: 768px){
    .person__image {
       width: 250px;
    }
}